<h2>Template Erstellen</h2>
<!-- Schnellvorlagen für Dokumentenverlauf -->
<div style="margin-bottom: 20px;">
  <h3>Dokumentenverlauf-Vorlagen</h3>
  <mat-selection-list>
    <mat-list-option *ngFor="let template of workflowTemplates" (click)="selectTemplate(template)">
      {{ template.name }}
    </mat-list-option>
  </mat-selection-list>
  <button mat-button color="accent" routerLink="/workflow">Eigenen Dokumentenverlauf erstellen</button>
</div>
<div class="grid-container">
  <div class="grid-child-purple">
    <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea>
  </div>

  <div class="grid-child-green">
    <markdown class="variable-binding" [data]="markdown"></markdown>
  </div>
</div>

<mat-form-field class="name_field_form" appearance="fill">
  <mat-label>Name eingeben...</mat-label>
  <input [(ngModel)]="formName" matInput placeholder="LeoForm name...">
</mat-form-field>
<mat-form-field class="name_field_form" appearance="fill">
  <mat-label>Beschreiben Sie ihr Form...</mat-label>
  <input [(ngModel)]="formDesc" matInput placeholder="LeoForm description...">
</mat-form-field>

<tr></tr>
<button mat-flat-button color="primary" (click)="sendForm()">Speichern</button>
<tr></tr>
