h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}

::ng-deep .markdown-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000;
}

::ng-deep .markdown-table th,
::ng-deep .markdown-table td {
  border: 1px solid #000;
  padding: 4px;
  text-align: left;
}

::ng-deep .markdown-table input[type="text"] {
  width: 100%;
  border: none;
  padding: 4px;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
.variable-textarea {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
  min-height: 420px;
  padding: 8px;
  transition: all 300ms ease-out;
  resize: none;
}

.example-chip-list {
  width: 100%;
}

/*.grid-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-gap: -10px;
}*/

.grid-child-purple {
  width: 70vw;
  margin-right: -500px;
}

.grid-child-green {
  margin: auto;
  width: 30%;
  background: #f3f3f3;
  padding: 2%;
  border-radius: 15px;
}


