* {
  font-family: "Helvetica Neue", sans-serif;
}

.full-width-table {
  width: 100%;
}

h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

tr.clickable {
  cursor: pointer;
  background-color: #f9f9f9;
}

tr.clickable:hover {
  background-color: #e0e0e0;
}
